<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../stylesheet/playQuiz.css">

</head>

<body>
    <div class="loading">
      <i class="fa-solid fa-circle-notch fa-spin"></i>
    </div>
  <div class="frontPage">
      <div class="content">
        <h1><span class="subj">Math</span> Quiz</h1>
        <span class="create">Created by: <span class="creator">Jethro</span></span>
      </div>
      <div class="btn-container">
        <button class="playQuizBtn"><i class="fa-solid fa-play">   Maglaro</i></button>
        <button class="backBtn">
          <i class="fa-solid fa-chevron-left">   Back</i>
        </button>
      </div>
  </div>
  
  <div class="question-container hide"></div>
  
  <script src="../scripts/playQuiz.js" type="module"></script>
</body>

</html>