<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../stylesheet/quiz.css">
</head>

<body>
  <div class="loading">
    <i class="fa-solid fa-circle-notch fa-spin"></i>
  </div>

  <nav>
    <img src="../images/logo.png" alt="" width="60px">
    <div class="links-container">
      <ul class="nav-links">
        <li class="link">
          Home
        </li>
        <li class="link">
          Quiz
        </li>
        <li class="link">
          Leaderboard
        </li>
        <li class="link">
          Dashboard
        </li>
        <li> <button class="signOutBtn hide">Log Out</button>
        </li>
      </ul>
      <div class="btn-container">
        <button class="signinBtn btnLink">Sign In</button>
      </div>
    </div>
    <i class="fa-solid fa-bars menu"></i>
  </nav>

  <main>
    <!-- 
    <div class="container">
      <div class="txt-container">
        <h3 class="subj-name">Math</h3>
      </div>
      <div class="quiz-container">
        <div class="img-container">
          <img src="../images/ath.jpg" alt="">
          <button class="playBtn" id="136">Maglaro!</button>
        </div>
        <div class="img-container">
          <img src="../images/math.jpg" alt="">
          <button class="playBtn" id="2938">Maglaro!</button>
        </div>
        <div class="img-container">
          <img src="../images/math.jpg" alt="">
          <button class="playBtn" id="29">Maglaro!</button>
        </div>
        <div class="img-container">
          <img src="../images/math.jpg" alt="">
          <button class="playBtn" id="01">Maglaro!</button>
        </div>
        <div class="img-container">
          <img src="../images/math.jpg" alt="">
          <button class="playBtn" id="73">Maglaro!</button>
        </div>
      </div>
      <span class="txt-container sm">
        <span class="seeMore">See More...</span>
      </span>

    </div>
        -->

  </main>


  <footer>
    &copy 2023 Kasiglahan Elementary School
  </footer>

  <script src="../scripts/quiz.js" type="module"></script>
</body>

</html>